<!DOCTYPE HTML>
<html ng-app="opining">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="style/img/icon.png">
	<link rel="stylesheet" type="text/css" href="css/atualizar.css">
	<title>Opining</title>

	<!-- AngularJS imports -->
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-cookies.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/updateUserCtrl.js"></script>
	<script type="text/javascript" src="js/services/userService.js"></script>
	<script type="text/javascript" src="js/config/valueConfig.js"></script>

</head>

<body ng-controller="updateUserCtrl">
	<div id="wrapper">
		<div id="register">
			<img alt="Atualizar dados" src="style/img/Atualizar.png">
			<form ng-submit="doUpdate()" method="post" autocomplete="on">
				<input type="text" name="username" required="required" placeholder="Login de usuário"
				ng-model="user.login" ng-maxlength="15" ng-minlength="4">
							
				<input type="text" name="name" required="required" placeholder="Nome completo"
				ng-model="user.name" ng-maxlength="255" ng-minlength="3">
							
				<input type="password" name="password" required="required" placeholder="Senha"
				ng-model="user.password" ng-maxlength="15" ng-minlength="6">
							 
				<input type="password" name="password_confirm" required="required" placeholder="Confirmar a senha"
				ng-model="confirm_password" ng-maxlength="15" ng-minlength="6">
				
				<p class="register button">
					<input type="submit" value="Atualizar" />
				</p>

				<p class="change_link">
					Dados atualizados?<a href="home.html">Voltar a página inicial</a>
				</p>

			</form>
		</body>
		</html>