<!DOCTYPE html>
<html ng-app="opining">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login</title>
	<link rel="stylesheet" href="style/login.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- AngularJS imports -->
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/loginCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/registerCtrl.js"></script>
	<script type="text/javascript" src="js/services/userService.js"></script>
	<script type="text/javascript" src="js/config/valueConfig.js"></script>

</head>

<body>
	<div id="principal">
		
		<div id="topo"> 
			<div class="imagem">
				<img src="style/img/logo.png" alt="logo" />
			</div>
		</div>		
		
		<div id="formulario">
			<div ng-controller="loginCtrl">
				<form>
					<div class="group">
						<label>Email</label>
						<input type="text" ng-model="user.login">
					</div> 

					<div class="group">
						<label>Senha</label> 
						<input type="password" ng-model="user.password">
					</div>

				</form>

				<div id="button_enviar">	
					<button type="submit" ng-click="doLogin(user)"> Enviar</button>
				</div>
			</div>

			<div ng-controller="registerCtrl">
				<form>

					<div class="group">
						<label>Nome</label>
						<input type="text" ng-model="user.name">				   
					</div>

					<div class="group">
						<label>Email</label>
						<input type="text" ng-model="user.login">			   	 
					</div> 

					<div class="group">
						<label>Senha</label> 
						<input type="password" ng-model="user.password">
					</div>			
				</form>
				<div id="button_cadastro">
					<button type="submit" ng-click="doRegister(user)">Cadastrar
					</button>
				</div> 
			</div>
		</div>					   
	</div>
</body>
</html>
